@import "../omarchy/current/theme/waybar.css";

* {
  /* background-color: @background; */
  /* color: @foreground; */

  border: none;
  padding: 0px;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-weight: normal;
}

window#waybar  {
  background: @background;
  color: @foreground;
  transition-property: background-color;
  transition-duration: .5s;
}

.modules-left {
  margin-left: 4px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  padding: 0 2px;
  margin: 0 0 0 8px;
  margin-bottom: -4px;
  opacity: 1;
  color: @foreground;
  font-size: 22px;
}

#workspaces button.active {
    color: @foreground;
    opacity: 1.0;
    padding: 0px;
    font-size: 22px;
}

#workspaces button.empty {
  opacity: 0.3;
  font-size: 22px;
}

#workspaces button.empty.active {
 font-size: 22px;
 color: @foreground;
 opacity: 1.0;
}


#idle_inhibitor,
#custom-updatespacman,
#custom-omarchy,
#custom-update,
#custom-screenrecording-indicator,
#clock,
#mpris
#tray,
#custom-split,
#cpu,
#memory,
#battery,
#backlight,
#network,
#power-profiles-daemon,
#mpris,
#bluetooth,
#pulseaudio {
  font-size: 12px;
  min-width: 10px;
  margin: 3px 0px 0px 0px;
  padding: 0 4px;
}

tooltip {
  padding: 2px;
}

#power-profiles-daemon,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
font-size: 16px;
margin-top: 4px;
margin-right: 4px;
}

#tray {
    background-color: @transparent;
    margin-top: 4px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @transparent;
}

.hidden {
  opacity: 0;
}

tooltip {
 padding: 4px;
 background: @background;
 font-size: 10px;
 border: 1px solid alpha(@foreground, 0.8);
 border-radius: 8px;
}
tooltip label {
    color: @foreground;
    font-weight: normal;
}

/* Specific animation Module */

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}


#mpris {
color: @foreground;
animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}
#battery.warning {
  color: #c95d0f;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: #e6d8ba;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}