@import "../omarchy/current/theme/waybar.css";

/* Adso messenge: dude need to learn more about clean code :broken_heart: */

* {
  /* background-color: @background; */
  /* color: @foreground; */
  border: none;
  /* border-radius: 8px; */
  font-family: 'CaskaydiaMono Nerd Font Propo';
  font-size: 12px;
  min-height: 0;
}

tooltip {
  opacity: 1;

 }

 window#waybar {
  background-color: transparent;
  color: @foreground;
}

window#waybar.empty #window{
  background: transparent;
  color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

#waybar > box {
    border-radius: 8px;
    margin: 1px 4px 4px 4px;
    background-color: @background;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 1);
    transition-property: background-color;
    transition-duration: .5s;
}




.modules-right {
  margin: 4px 4px;
  border-radius: 8px;
  border: 2px solid @foreground;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.modules-center {
  margin: 4px 0px;
  padding: 2px;
  border-radius: 8px;
  border: 2px solid @foreground;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}



#window {
  margin: 4px 0px;
  padding: 0 2px;
  border-radius: 8px;
  border: 2px solid @foreground;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#workspaces {
    margin: 4px 4px 4px 4px;
    padding: 1px 0px 1px;
    border-radius: 10px;
    background-color: @foreground;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    opacity: 0.95;
}

#workspaces button {
    padding: 0px 10px 0px;
    margin: 1px 2px 1px 2px;
    border-radius: 8px;
    background-color: @background;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color: @foreground;
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
}

#workspaces button.active {
    color: @foreground;
    border-radius: 8px;
    min-width: 30px;
    opacity: 1.0;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @foreground;
    background: @background;
    border-radius: 8px;
    min-width: 30px;
    opacity: 0.9;
}


#workspaces button.empty {
  opacity: 0.5;
}

#hyprland-window,
#tray,
#group-tray-expander,
#cpu,
#memory,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#backlight,
#clock,
#idle_inhibitor,
#custom-updatespacman,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 14px;
  margin: 0 2px 0 2px;
  padding-left: 3px;
  padding-right: 3px;
}

tooltip {
  padding: 0.5px;
}

#custom-omarchy {
  font-size: 15px;
  margin: 0 0 0 4.5px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

#custom-expand-icon {
padding: 0px 2px;
margin-left: 4px;
}

.hidden {
  opacity: 0;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 2.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}


tooltip {
 padding: 4px;
 background: @background;
 font-size: 10px;
 border: 1px solid alpha(@foreground, 0.8);
 border-radius: 8px;
 box-shadow: 1px 1px 3px 1px #131313;
 font-weight: lighter;
}
tooltip label {
    color: @foreground;
    font-weight: normal;
}

/* Specific animation Module */

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}

@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}

@keyframes blink-inhibitor {
    to {
        color: @background;
    }
}

#idle_inhibitor {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: @foreground;
 }

#idle_inhibitor.activated {
  color: #178b76;
  animation-name: blink-inhibitor;
  animation-duration: 1s;
}
