@import "../omarchy/current/theme/waybar.css";

* {
  /* background-color: @background; */
  /* color: @foreground; */

  border: none;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font Propo';
  font-weight: bold;
  font-size: 11px;
}


window#waybar  {
  background-color: transparent;
  color: @foreground;
}

#waybar > box {
  margin: 2px 8px 2px 8px;
  border-radius: 8px;
  background-color: @background;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
  transition-property: background-color;
  transition-duration: .5s;
}

#right1 {
  border-radius: 26;
  background-color: alpha(@foreground, 0.9);
  color: @background;
  padding: 0px 1px 0px;
  margin: 3px 0px;
  margin-right: 6px;
}

#right2 {
}

#right3 {
  border-radius: 26;
  background-color: alpha(@foreground, 0.9);
  color: @background;
  padding: 0px 1px 0px;
  margin: 3px 0px;
  margin-right: 6px;
}


.modules-center {
  border-radius: 26;
  background-color: alpha(@foreground, 0.9);
  color: @background;
  padding: 0px 0px 0px;
  margin: 3px 0px;
}


#workspaces {
    padding: 0px 0px 0px;
    margin: 2px 0px;
    border-radius: 4px;
    opacity: 0.95;
}

#workspaces button {
    padding: 0px 10px;
    margin: 2px 2px;
    border-radius: 26px;
    background-color: alpha(@foreground, 0.45);
    opacity: 0.95;
    color: @background;
    transition: all 0.15s ease-in-out;
}

#workspaces button.active {
    background-color: alpha(@foreground, 0.9);
    border-radius: 26px;
    color: @background;
    opacity: 1.0;
    padding: 0px 10px;
    margin: 2px 2px;
    transition: all 0.15s ease-in-out;
}
#workspaces button.empty.active {
  background-color: alpha(@foreground, 0.9);
  color: @background;
  opacity: 1;

}

#workspaces button:hover.empty,
#workspaces button:hover {
    background-color: @foreground;
    color: @background;
    opacity: 1;
    border-radius: 26px;
}

#workspaces button.empty {
    opacity: 0.25;
    border-radius: 26px;
    padding: 0px 0px;
    margin: 2px 2px;
}


#custom-weather,
#clock,
#tray,
#cpu,
#mpris,
#battery,
#network,
#memory,
#bluetooth,
#backlight,
#pulseaudio,
#custom-omarchy-theme-set,
#power-profiles-daemon,
#custom-omarchy,
#idle_inhibitor,
#custom-updatespacman,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 14px;
  margin: 1px 2px 1px 2px;
  padding-left: 2px;
  padding-right: 2px;
}

#custom-update {
  font-size: 12px;
}


.hidden {
  opacity: 0;
}

tooltip {
    background-color: alpha(@background, 1);
    border: 1px solid alpha(@foreground, 0.5);
    border-radius: 8px;
    box-shadow: 1px 1px 1px alpha(@background, 0.3);
    padding: 4px;
    font-size: 12px;
}

tooltip label {
    color: @foreground;
}

/* --- Hover right module  --- */
#idle_inhibitor:hover,
#custom-updatespacman:hover,
#custom-update:hover,
#custom-weather:hover,
#custom-screenrecording-indicator:hover,
#clock:hover,
#mpris:hover
#tray:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#backlight:hover,
#network:hover,
#power-profiles-daemon:hover,
#mpris:hover,
#bluetooth:hover,
#pulseaudio:hover {
  border-radius: 26px;
  opacity: 0.9;
  background-color: @background;
  color: @foreground;
}

/* Specific animation Module */

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  border-radius: 26;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: transparent;
    }
}

#mpris{
  border-radius: 26;
  background-color: alpha(@foreground, 0.45);
  color: alpha(@background, 0.45);
  padding: 0px 10px 0px;
  margin: 3px 0px;
  margin-right: 6px;
  animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: @background;
        
    }
}

#battery.warning {
  color: #c95d0f;
  background-color: alpha(@foreground, 0.45);
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: alpha(@foreground, 0.45);
  color: #e6d8ba;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
